<div ng-controller="appointController as appointCtrl">
    <div class="container-fluid px-4">
        <h2 class="mt-4 mb-4">Schedule Appointment</h2>
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-8">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <form ng-submit="appointCtrl.appointment()">
                            <div class="row g-3">
                                <div class="col-sm-12 mb-3">
                                    <label for="date" class="form-label">Preferred Date</label>
                                    <input type="date" class="form-control" required autocomplete="on" ng-model="appointCtrl.date" id="date">
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label for="specialist" class="form-label">Specialization</label>
                                    <select class="form-control" required ng-model="appointCtrl.specialist" id="specialist" ng-change="appointCtrl.fetchDocs(appointCtrl.specialist)">
                                        <option value="" disabled selected>Select...</option>
                                        <option ng-repeat="specialist in appointCtrl.specialists" ng-value="specialist.name">{{specialist.name}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label for="doc" class="form-label">Doctor</label>
                                    <select class="form-control" ng-model="appointCtrl.doc" required id="doc">
                                        <option value="" disabled selected>Select...</option>
                                        <option ng-repeat="doctor in appointCtrl.doctors" ng-value="doctor.name">{{doctor.name}} - Rs.{{doctor.fee}}</option>
                                    </select>
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="reason" class="form-label">Reason</label>
                                    <input class="form-control" type="text" required autocomplete="on" id="reason" ng-model="appointCtrl.reason">
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="symptoms" class="form-label">Symptoms (If any)</label>
                                    <input class="form-control" id="symptoms" ng-model="appointCtrl.symptom" rows="3"></input>
                                </div>
                                <div class="col-12 mt-2 mb-2">
                                    <button type="submit" class="btn btn-primary w-100">Schedule Appointment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>