<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center" style="background-color: #cbddf8; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
  <div class="col-12 col-md-8 col-lg-6">
    <div ng-controller="pRegController as pRegCtrl" class="container">
      <div class="card shadow border-0">
        <div class="card-body p-3">
          <div class="text-center d-flex flex-column justify-content-center align-items-center">
            <img src="assets/images/vitalLogo.jpeg" style="max-width: 300px;" alt="logo" class="img-fluid">
          </div>
          <form ng-submit="pRegCtrl.Register()" id="form" enctype="multipart/form-data">
            <div class="row g-3">
              <div class="col-sm-6 mb-2">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" autocomplete="on" class="form-control" pattern="[a-zA-Z]+" maxlength="20" ng-model="pRegCtrl.fname" id="firstName" required>
              </div>
              <div class="col-sm-6 mb-2">
                <label for="lastName" class="form-label ">Last Name (Optional)</label>
                <input type="text" class="form-control" pattern="[a-zA-Z]+" maxlength="20" ng-model="pRegCtrl.lname" id="lastName" autocomplete="on">
              </div>
              <div class="col-sm-7 mb-2">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="email" pattern="[a-zA-Z0-9_\-\.]+[@][a-z]+[\.][a-z]{2,3}" ng-model="pRegCtrl.email" required autocomplete="on">
              </div>
              <div class="col-sm-5 mb-2">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="phone" ng-model="pRegCtrl.number" autocomplete="on" required pattern="[6 7 8 9][0-9]{9}">
              </div>
              <div class="col-sm-7 mb-2">
                <label for="dob" class="form-label">Date of Birth</label>
                <input type="date" class="form-control" required autocomplete="on" ng-model="pRegCtrl.dob" id="dob">
              </div>
              <!-- <div class="col-sm-4 mb-2">
                <label for="age" class="form-label">Age</label>
                <input type="number" maxlength="3" required autocomplete="on" ng-model="pRegCtrl.age" class="form-control" id="age" min="0">
              </div> -->
              <div class="col-sm-5 mb-2">
                <label for="bloodGroup" class="form-label">Blood Group</label>
                <select class="form-control" required ng-model="pRegCtrl.bloodgrp" id="bloodGroup">
                  <option value="" disabled selected>Select...</option>
                  <option ng-repeat="bg in pRegCtrl.bgs" ng-value="bg.blood_grp">{{bg.blood_grp}}</option>
                </select>
              </div>
              <div class="col-7 mb-2">
                <label for="address" class="form-label ">Address</label>
                <input type="text" class="form-control" ng-model="pRegCtrl.address" id="address" pattern="[A-Z1-9a-z]{1,5}[A-Za-z]{1,}[A-Z1-9a-z]{1,50}" required placeholder="Enter your address">
              </div>
              <div class="col-sm-5 mb-2">
                <label for="image" class="form-label ">Image</label>
                <input type="file" class="form-control" id="image" accept="image/*" onchange="angular.element(this).scope().pRegCtrl.img(this)" required>
              </div>
              <div class="col-sm-4 mb-2">
                <label for="gender" class="form-label">Gender</label>
                <select class="form-control" required ng-model="pRegCtrl.gender" id="gender">
                  <option value="" disabled selected>Select...</option>
                  <option>Male</option>
                  <option>Female</option>
                  <option>Other</option>
                </select>
              </div>
              <div class="col-sm-4 mb-2">
                <label for="height" class="form-label">Height (cm)</label>
                <input type="number" class="form-control" required autocomplete="on" ng-model="pRegCtrl.height" id="height" min="20" max="300">
              </div>
              <div class="col-sm-4 mb-2">
                <label for="weight" class="form-label ">Weight (kg)</label>
                <input type="number" class="form-control" required autocomplete="on" ng-model="pRegCtrl.weight" id="weight" max="500" min="1">
              </div>
              <div class="col-12 mb-2">
                <label for="medicalHistory" class="form-label">Medical History (If any)</label>
                <input class="form-control" type="text" pattern="[a-zA-Z]+" id="medicalHistory" ng-model="pRegCtrl.med">
              </div>
              <div class="col-sm-6">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,16}" ng-model="pRegCtrl.pass1" id="password" required>
              </div>
              <div class="col-sm-6 ">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,16}" ng-model="pRegCtrl.pass2" id="confirmPassword" required>
              </div>
              <div class="col-12 mt-4">
                <button type="submit" class="btn btn-primary w-100">Create Patient's Account</button>
              </div>
            </div>
          </form>
          <div class="text-center mt-3">
            <p class="mb-0">
              Already have an account?
              <a ui-sref="login" class="text-primary text-decoration-none">Login</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>